#section1-1{
  height: 86vh;
}
#map {
  margin-top: 0vh;
  margin-left: 0vw;
  height: 100% ;
  width: 100%;
}
.mdl-layout-title{
  font-family: '微軟正黑體';
  font-size: 185%;
}

#section1-2{
  height: 86vh;
  overflow-y: scroll;
}
#table1 {
  width: 96%;
  margin-left: 15px;
}
#selectbar{
   font-family: '微軟正黑體';
   margin-top: 10px;
   margin-right: 15px;
   margin-left: 15px;
}
#network{
  font-weight: bold;
  font-family: '微軟正黑體';
  color: yellow;
  visibility: hidden;
}
.red{
  background-color: #EEE8AA;
}
