#map {
  margin-top: 1vh;
  margin-left: 0.45vw;
  height: 105% ;
  width: 100%;
}
.mdl-layout-title{
  font-family: '微軟正黑體';
  font-size: 185%;
}

#table1 {
  width: 96%;
  align:center;
  margin-right: 5px;
}
#section1-1{
  height: 89vh;
  position:fixed;
}
#selectbar{
   font-family: '微軟正黑體';
   margin-top: 10px;
   margin-right: 30px;

}
#network{
  font-weight: bold;
  font-family: '微軟正黑體';
  color: yellow;
  visibility: hidden;
}
.red{
  background-color: #EEE8AA;
}
/* ------------------------------- */
/* for popup */

.info{
  background: #FFF;
  color: #000;
  border: 1px solid #f00;
}
.info > .table{
  margin-bottom:0;
}
.info > .table th, .info > .table td{
  padding: 4px;
  line-height: 1.2;
}
.info > .table > thead > tr{
  background: #d9edf7;
}
.info > .table > tbody > tr:nth-child(odd){
  background: #dff0d8;
}
.info > .table > tbody > tr:nth-child(even){
  background: #fcf8e3;
}
